@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "./media.scss";
@import "./ReactToastify.scss";

@font-face {
  font-family: 'hangedLetters';
  src: url('static/media/fonts/HappyDayatSchool.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$my-font: "hangedLetters";

a:not([href]):not([tabindex]) { 
  color: white; 
  cursor: pointer;
  text-decoration: none; 
 
  @include hover-focus { 
    color: inherit; 
    text-decoration: none; 
  } 
 
  &:focus { 
    outline: 0; 
  } 
} 

html, body {
  font-family: Tahoma;
  height: 100%; 
  width: 100%; 
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.opacity {
  opacity: 0.7;
}

.container-fluid { 
  padding: 0px!important;
}

.bg-dark {
  background-color: #222325 !important;
} 

.hero {
  display: block;
  width:100%;
}

.hero img {
  width: 100%;
}

.row {
  margin: 0px;
}

.column {
  background-color: white;
}

.navbar-nav > li > .dropdown-menu { background-color: #222325; }
.navbar-nav > li  a { color: rgba(255, 255, 255, 0.5); }

.container {
  width: 100%;
}

.splash {
  width: 100%;
  height: 100%;
}

.splashbox {
  background-color: rgba(32, 31, 31, 0.9);
  text-align: center;
  width: auto;
  display:block;
  width: 320px;
  position:absolute;
  top: 100px;
  left:400px;
}

.splashbox h1 {
  font-family: $my-font;
  text-align:center;
  color: darkkhaki;
  font-size:4em;
}

.splashbox p {
  color: lightgray;
  text-align:center;
}

.btn {
  text-align:center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
} 

.btn button:hover {
  background-color: burlywood;
}

.btn button {
  color: darkslategrey;
  text-decoration: none;
  background-color: darkkhaki;
  width: 100%;
  cursor: pointer;
}

h3 {
  text-transform: uppercase;
  padding-top:20px;
  padding-bottom:20px;
}

.teaser {
  list-style-type: none;
  margin:0;
  padding:0;
}

.teaser li {
  border-bottom: 2px solid #67575b;
  padding-top: 15px;
  padding-bottom: 25px;
}

.teaser li span {
  line-height: 100px;
  float: left;
  border-right: 2px solid #67575b;
  padding-right: 20px;
  height: 100px;
  margin-right: 20px;
}

.product-item {
  padding: 10px;
  border: 3px solid #CCC;
  margin: 5px;
}
.product-item span {
  text-align: center;
  display: block;
}
.product-item img {
  width: 100%;
  max-width:320px;
}

.padding {
  margin: 15px;
}

.teaserPrice {
  width: 100%;
  text-align:center;
}

.old-price {
  text-decoration-line: line-through;
}

.no-sale {
  padding-top:25px;
}
.sale-price {
  color:red;
}

.socialmedia {
  list-style-type: none;
  margin:0;
  padding: 0;
}

.socialmedia li {
  margin-bottom: 10px;
}

.socialmedia li a {
  color: darkslategrey;
  text-decoration: none;
}

.fa  {
  font-size: 2em;
  color: steelblue;
  margin-right: 15px;
}

.socialMediaIcon {
  position:relative;
  border-bottom: 2px solid #67575b;
  width: 95%;
}

.socialMediaIcon strong {
  position: absolute;
  top: 5px;
  left: 40px;
}